<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Đăng nhập</title>
		<meta name="description" content="Jetson is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Jetson Admin, Jetsonadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="public/favicon.ico">
		<link rel="icon" href="public/favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="public/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>
		
		
		
		<!-- Custom CSS -->
		<link href="public/dist/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="../../home">
						<img class="brand-img mr-10" src="../../public/upload/Unetilogo.png" width="30px" height="30px" alt="brand"/>
						<span class="brand-text">Uneti</span>
					</a>
				</div>
				<div class="form-group mb-0 pull-right">
					<span class="inline-block pr-10">Bạn đã có tài khoản chưa?</span>
					<a class="inline-block btn btn-info  btn-rounded btn-outline" href="../../sign-up">Đăng ký</a>
				</div>
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Đăng nhập</h3>
											<h6 class="text-center nonecase-font txt-grey">Điền thông tin bên dưới</h6>
										</div>	
										<div class="form-wrap">
											<form action="./login" method="post">
												<div class="form-group">
													<label class="control-label mb-10" for="exampleInputEmail_2">Tên đăng nhập</label>
													<input type="text" name="username" class="form-control" required="" id="exampleInputEmail_2" placeholder="Tên đăng nhập">
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Mật khẩu</label>
													<a class="capitalize-font txt-primary block mb-10 pull-right font-12" href="./forgot-password">quên mật khẩu ?</a>
													<div class="clearfix"></div>
													<input type="password" name="password" class="form-control" required="" id="exampleInputpwd_2" placeholder="Nhập mật khẩu">
												</div>
												
												<!-- <div class="form-group">
													<div class="checkbox checkbox-primary pr-10 pull-left">
														<input id="checkbox_2" required="" type="checkbox">
														<label for="checkbox_2"> Keep me logged in</label>
													</div>
													<div class="clearfix"></div>
												</div> -->
												<div class="form-group text-center">
													<button type="submit" class="btn btn-info  btn-rounded">Đăng nhập</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		<script>
			<%var message = message%>
			<%if(message){%>
				alert("<%=message%>");
				<%}%>
		</script>

		<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
		integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
		crossorigin="anonymous"></script>
		
		<!-- jQuery -->
		<script src="public/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="public/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="public/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="public/dist/js/jquery.slimscroll.js"></script>
		
		<!-- Init JavaScript -->
		<script src="public/dist/js/init.js"></script>
	</body>
</html>
